html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

#root {
  height: 1px;
  min-height: 100%;
}

:root {
  --white-color: #fff;
  --primary-main-color: #1976d2;
  --navbar-color: #e3f2fd;
  --footer-color: #9ec2f1;
  --danger-color: #b71c1c;
  --error-color: #d32f2f;
  --green900-color: #1b5e20;
  --success-color: #2e7d32;
  --blue900-color: #01579b;
  --grey300-color: #E0E0E0;
  --primary-disabled-bg: #9ba1a8;
}

[data-color-scheme='dark'] {
  --navbar-color: #212529;
  --footer-color: #23313e;
  --danger-color: #b71c1c;
  --green900-color: #1b5e20;
  --blue900-color: #01579b;
}

a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
}
