html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

#root {
  height: 1px;
  min-height: 100%;
}

:root {
  --bg-color: #fff;
  --white-color: #fff;
  --primary-main-color: #1976d2;
  --primary-text-color: #000;
  --navbar-color: #e3f2fd;
  --footer-color: #9ec2f1;
  --danger-color: #b71c1c;
  --error-color: #d32f2f;
  --green900-color: #1b5e20;
  --success-color: #2e7d32;
  --blue900-color: #01579b;
  --grey300-color: #E0E0E0;
  --primary-disabled-bg: #9ba1a8;
  --scrollbar-thumb-background: hsla(207,5%,52%,.26);
  --link-hover-color: #0e315d;
  --input-bg: #fff;
  --input-color: #000;
  --input-bd: #CED4DAFF;
}

[data-color-scheme='dark'] {
  --bg-color: #202124;
  --primary-text-color: #9aa0a6;
  --navbar-color: #212529;
  --footer-color: #23313e;
  --danger-color: #b71c1c;
  --green900-color: #1b5e20;
  --blue900-color: #01579b;
  --scrollbar-thumb-background: hsla(0,0%,100%,.7);
  --link-hover-color: #4a9ef9;
  --input-bg: #2e2e2e;
  --input-color: #c9c9c9;
  --input-bd: #424242FF;
}

a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media (max-width: 599.95px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 5px;
}
